body{
  background-color: #77d8d8;
  background-image:url("C:\Users\waqie\OneDrive\Desktop\programming\web development html\DSCN1555.JPG");

 
}
head{
  text-align: right;
}
div{
  text-underline;
}